flask==2.0.1
psycopg2-binary==2.9.1
redis==4.3.4

# pyjwt==1.7.1 # BEFORE [DELETED!]
pyjwt==2.8.0 # AFTER [ADDED!]

requests==2.25.1
boto3==1.20.0
gunicorn==20.1.0
python-dateutil==2.8.2
jsonschema==4.23.0 # ADDED!
argon2-cffi==23.1.0 # ADDED!
pydantic==2.7.0 # ADDED!
flask-limiter==3.8.0  # ADDED! For rate limiting to enhance security against brute-force attacks and abuse.